<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../static/profile.css" />
    <title>DashBoard</title>
  </head>
  <body>
    <header class="container">
      <div class="logo">
        <img src="../../static/logo.png" alt="Ibom OS" class="img-fluid" style="max-width: 150px;">
      </div>

      <div class="header-section" >
        <div class="notification">
          <img src="../../static/notification.svg" alt="#" />
        </div>
        <div class="profile-image">
          <img src="../../static/profile-pic.svg" alt="#" />
        </div>
        <p class="profile-name">Clemcy Idemudo</p>
      </div>
    </header>
    <hr />

    <!-- DashBoard starts -->
    <main>
      <div class="dashboard-nav" >
        <div class="overview">
          <div>
            <img src="../../static//category.svg" alt="#" />
          </div>
          <p>Overview</p>
        </div>

        <div class="managed-properties">
          <div>
            <img src="../../static/buildings-2.svg" alt="#" />
          </div>
          <p>Managed Properties</p>
        </div>

        <div class="rented-rooms">
          <div>
            <img src="../../static/house-2.svg" alt="#" />
          </div>
          <p>Rented Rooms</p>
        </div>

        <div class="profile">
          <div>
            <img src="../../static/user-tag.svg" alt="#" />
          </div>
          <p>Profile</p>
        </div>

        <div class="dashboard-footer" >
          <div>
            <img src="../../static/profile-pic.svg" alt="#" />
          </div>

          <div>
            <p class="account-name">Clemcy Idemudo</p>
            <p class="account-email">amara@rayna ui</p>
          </div>

          
          <div>
            <img src="../../static/icon.png" alt="#">
          </div>
        </div>
      </div>

      <!-- DashBoard more extended -->

      <div class="profile-details">
        <div class="profile-header-section">
          <div class="profile-account">
            <div>
              <img src="../../static/profile-pic.svg" alt="" />
            </div>
            <div>
              <p class="profile-name">Clemcy Idemudo</p>
              <p class="account-type">Landlord</p>
            </div>
          </div>

          <button class="edit-btn" >Edit Profile</button>
        </div>

        <!-- dashboard main  -->
        <p class="info" >Personal Information</p>

        <div class="personal-info">
          <div>
            <label for=""> First Name </label>
            <p class="firstname info ">Amara Jones</p>
          </div>

          <div>
            <label for=""> Last Name </label>
            <p class="lastname info ">Jones</p>
          </div>
        </div>

        <div class="more-info">
          <div>
            <label for=""> Email Address </label>
            <p class="user-email info ">amarajones@gmail.com</p>
          </div>

          <div>
            <label for=""> Phone Number </label>
            <p class="phonenumber info ">09023677891</p>
          </div>
        </div>

        <div class="account-type-info">
          <label for=""> Occupation </label>
          <p  >Landlord</p>
        </div>
      </div>

      <!-- DashBoard extended ends here  -->
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>